:root{
    --primary-color:hsl(26,93%,50%);
    --hover-color:hsl(26,90%,42%);
    --whit-color:hsl(0,0,100%);
    --black-color:hsl(0,0,10%);
    --textcolor:hsl(240,1%,48%);
    --white-color-deam:hsl(0,0%,93%);
    --grey-bg:hsl(0,0%,96%);
    --grey-text:rgba(190,190,190);
    --inputcolor:hsl(330,12%,97%)
  
   }

.home{
    height: 80vh;
background: linear-gradient(rgba(33,33,33,.5),rgba(33,33,33,.5)),url('../../assests/pexels-dico-baskoro-18127785.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
display: flex;
align-items: center;
justify-content: center;
margin: auto;
position: relative;
}

.sectioncontainer .homeText {
text-align: center;
}
.title{
    color:#fff;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
}
.subtitle{
    color:#fff;
 opacity: .9;
 font-size: 13px;
 padding: 1rem 0;
 max-width: 70%;
 text-align: center;
 margin: auto;
}
.homeText .btn{
    padding: .6rem 1.5rem;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    border: 1px solid transparent;
    transition: .4s;
}
.homeText .btn:hover{
   color: var(--primary-color);
   background: none;
   border: 1px solid var(--primary-color);
}
.homeCard {
    width: 75%;
 
 height: 100px;
    border-radius: 1rem;padding: 2rem;
    background: #fff;
    gap: 1rem;
    justify-content: center;
    bottom: -10%;
    position: absolute;
    box-shadow: 0px 2px 8px 4px rgba(178,178,178, .45);
}
.locationDiv, .distDiv, .priceDiv {
width: 100%;
}
.homeCard label{
    display: block;
    color: var(--textcolor);
    font-weight: 500;
    font-size: 13px;
    padding-bottom: .4rem;
}
.homeCard input{
 width: 80%;
    background:var(--inputcolor);
    border-radius: 10px;
    border: none;
    padding: 15px;
    font-size: 13px;
    font-weight: 500;
    outline:none;
    margin-right: 10px;
}
.homeCard input::placeholder{
  font-size: 11px;
  opacity: .5;
  font-weight: 400;
}
.homeCard .btn{
  margin-top: 20px;
    padding: .6rem 1.5rem;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}